annotated-types
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
chardet
charset-normalizer
chroma-hnswlib
chromadb
chunkit
click
coloredlogs
cssselect
Deprecated
distro
durationpy
exceptiongroup
fastapi
feedfinder2
feedparser
filelock
Flask
flatbuffers
fsspec
google-auth
googleapis-common-protos
grpcio
h11
html2text
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous
jieba3k
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langdetect
langsmith
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
mdurl
mmh3
monotonic
mpmath
networkx
newspaper3k
nltk
numpy
oauthlib
ollama
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pillow
posthog
protobuf
pyahocorasick
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
PyPika
pyproject_hooks
python-dateutil
python-dotenv
PyYAML
readability-lxml
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sgmllib3k
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tinysegmenter
tldextract
tokenizers
toml
tomli
torch
tqdm
transformers
typer
typing-inspection
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websocket-client
websockets
Werkzeug
wrapt
zipp
zstandard
